* {
<<<<<<< HEAD
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> 1e82c8ae7d0069c73704880209d45e5edd2ff312
}

html {
  font-size: 62.5%; /*16px = 100%, 10px = 62.5%  - 1rem = 10px*/
  color: #0bb1bd;
  font-family: "Oswald", sans-serif;
}

<<<<<<< HEAD
body {
	background: rgb(215, 228, 241);
  font-family: 'Roboto', sans-serif;
  display: grid !important;
  }
=======
button {
  cursor: pointer;
}

body {
  background-color: #C0F8E4;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 20% 75%;
  height: 100vh;
  font-size: 2rem;
}

#background{
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  }

#pag1 {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: -8rem;
}
>>>>>>> 1e82c8ae7d0069c73704880209d45e5edd2ff312


/*PRIMERA PAGINA PORTADA */

.contenedorPortada{
	width: 100%;
/*	max-width: 100%; */
	margin: 1.25rem auto;  
	display: grid;
	grid-gap: 0rem; 
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"imagenPortada imagenPortada imagenPortada"
	"imagenPortada imagenPortada imagenPortada"
	"imagenPortada imagenPortada imagenPortada"
	"imagenPortada imagenPortada imagenPortada"
 	"franjaIncicio franjaIncicio franjaIncicio" ;
}

.contenedorPortada > div,
.contenedorPortada .imagenPortada,
.contenedorPortada .franjaIncicio
{
	background: #fff;
	padding: 0rem;
	border-radius: 0.25;
}

.contenedorPortada .imagenPortada{
	display:block;

	width: 100%;
	height: auto;
	object-fit: cover;
	display: flex; 
	grid-area: imagenPortada;
}

.imagenResponsive {
	display: none;
}
.contenedorPortada .franjaIncicio{
	background-color: rgb(16, 65, 121);
	display: flex;
	justify-content: center;
	align-content: center;
	grid-area: franjaIncicio;
}

.btn-inicio{
	border-style: none;
	background-color: transparent;
}
@media screen and (max-width: 700px){
	.contenedorPortada {
	grid-template-areas: 
	"imagenPortada  imagenPortada  imagenPortada"
	"imagenPortada  imagenPortada  imagenPortada"
	"imagenPortada  imagenPortada  imagenPortada"
	"imagenPortada  imagenPortada  imagenPortada"
 	"franjaIncicio  franjaIncicio  franjaIncicio";
	}
	.contenedorPortada .imagenPortada{
		display:none;
	/*	background-image: url(imagenes/portada_responsive.png); */
		width: 100%;
		object-fit: cover;
		height: auto;
		display: flex; 
		grid-area: imagenPortada;
	}
	.contenedorPortada .imagenResponsive {
		display: block;
	}
}

/*
	.imagenPortada {
		background-image: url(imagenes/portada_responsive.png);
	}

*/	


/*SEGUNDA PAGINA*/
.contenedor1 {
	width: 100%;
	/*max-width: 1200px;*/
	margin: 1.25rem auto; 
	display: grid;
	grid-gap: 0rem; 
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);

  grid-template-areas: 
  	"header header header"
	"nav nav nav"
	"selects selects selects"
	"sidebar contenido contenido"
    "sidebar contenido contenido"
	"footer footer footer";
}

.contenedor1 > div,
.contenedor1 .header,
.contenedor1 .nav,
.contenedor1 .selects,
.contenedor1 .contenido,
.contenedor1 .contenido2,
.contenedor1 .sidebar,
.contenedor1 .footer 
{
	background: #fff;
	padding: 1.25rem;
	border-radius: 0.25;
}

.contenedor1 .header {
	background: linear-gradient(to right, rgb(3, 186, 241) 0%, #C0F8E4 100%);
	padding: 0.1rem;
	color: #fff;
	grid-area: header;
}

.contenedor1 .nav{
	padding: 0.5rem;
	background: linear-gradient(to right, #002148 0%, #00C2FA 100%);
	color: rgb(235, 247, 250);
	font-size: 1.1em;
	text-align: right;
	grid-area: nav;
}

<<<<<<< HEAD
.contenedor1 .contenido {
	padding: 3rem;
	font-size: 1.2em;
	color: #08034d;
	grid-area: contenido;
=======
/*Segunda página CONCEPTOS */
.paginaConceptos {
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  box-sizing: border-box;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  width: 100%;
>>>>>>> 1e82c8ae7d0069c73704880209d45e5edd2ff312
}

.contenedor1 .contenido2 {
	padding: 2rem;
	font-size: 1.2em;
	color: #08034d;
/*	overflow : auto;      /*el scroll aparece solo si el contenido exede el tamaño de la caja*/ 
	grid-area: contenido;
}

.contenedor1 .sidebar {
	grid-column: 1 / 2;
	background: white;
	text-align: left;
	display: flex;
	align-items: left;
	flex-direction: column;
	justify-content: center;
	min-height: 50px;
	grid-area: sidebar;
}

.botonesCostado {
    color:white;
    font-size: 1.1em;
	text-size-adjust: 1em;
    background-color:  #03A3C6;
	margin: 1rem;
    padding: 0.5rem;
    height: 4rem;
    width: 100%;
    border-radius: 0.7rem;
    cursor: pointer;
    transition-duration: 0s;
}

.contenedor1 .footer {
	padding: 0.5rem;
	background: linear-gradient(to left, #002148 0%, #00C2FA 100%);
	color: #fff;
	display: flex;
	justify-content: space-between;
	grid-area: footer;
}

.botonesDelFooter {
   	color: #ffffff;
    font-size: 1.2em;
    margin: 0.3rem;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 700px){
	.contenedor1 {
	grid-template-areas: 
		"header header header"
		"nav nav nav"
		"selects selects selects"
        "sidebar sidebar sidebar"
        "contenido contenido contenido"
		"footer footer footer";
	}
}


/*TERCERA PAGINA*/
.contenedor2 {
	width: 100%;
	/* max-width: 1200px; */
	margin: 1.25rem auto;
	display: grid;
	grid-gap: 0rem;  
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);

  grid-template-areas: 
  	"header header header"
	"nav nav nav"
	"selects selects selects"
	"contenido contenido contenido"
	"footer footer footer";
}

.contenedor2 > div,
.contenedor2 .header,
.contenedor2 .nav,
.contenedor2 .selects,
.contenedor2 .contenido,
.contenedor2 .footer 
{
	background: #fff;
	padding: 1.25rem;
	border-radius: 0.25;
}

.contenedor2 .header {
	background: linear-gradient(to right, rgb(3, 186, 241) 0%, #C0F8E4 100%);
	padding: 0.1rem;
	color: #fff;
	grid-area: header;
}

.contenedor2 .nav{
	padding: 0.5rem;
	background: linear-gradient(to right, #002148 0%, #00C2FA 100%);
	color: rgb(235, 247, 250);
	font-size: 1.1em;
	text-align: right;
	grid-area: nav;
}

.contenedor2 .selects{
	grid-column: 1 / 6;
    width: 100%; 
	display: flex;
	justify-items: center;
	align-items: flex-start;
	justify-content: space-around;
	grid-area: selects;
}

.selectDesplegables {
	height: 2.5rem;
    width: 20rem;
	padding: 0.5rem;
	color:white;
    font-size: 1.1em;
	text-align: center;
    background-color:  #03A3C6;
	margin: 0.6rem; 
	border-radius: 0.7rem;  
    cursor: pointer;
	transition-duration: 0s;
	display: flex;
	grid-area: selects;
}

.contenedor2 .contenido {
	/*	height: 25rem;*/
  width: 100%; 
	padding: 2rem;
	font-size: 1.2em;
	color: #08034d;
  grid-area: contenido;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  box-sizing: border-box;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  width: 100%;
	/*overflow : auto;*/ /*el scroll aparece solo si el contenido exede el tamaño de la caja*/
}
.contenedor2 .footer {
	padding: 0.5rem;
	background: linear-gradient(to left, #002148 0%, #00C2FA 100%);
	color: #fff;
	display: flex;
	justify-content: space-between;
	grid-area: footer;
}

.botonesDelFooter {
   	color: #ffffff;
    font-size: 1.2em;
    margin: 0.3rem;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 700px){
	.contenedor2 {
	grid-template-areas: 
		"header header header"
		"nav nav nav"
		"selects selects selects"
        "contenido contenido contenido"
		"footer footer footer";
	}

	.selects{
		display:flex;
		flex-direction: column;
	}

	.selectDesplegables{
		width: 100%;
		height: 2.8em;
		font-size: 1.3em;
		display: flex;
	} 
}
          
/*Estilos de cada carta*/
.cards {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 15px;
  width: 240px;
  height: 240px;
  text-align: center;
  border-radius: 6%;
  background: linear-gradient(#FEFFDF, #00C2FA);
  opacity: 0.9;
  box-shadow: -2px 2px 10px green;
}
.cards:hover {
  opacity: 1;
}
/*Títulos para las cartas*/
h3 {
  margin: 5px;
  color: #042910;
  font-family: 'Lato', sans-serif;
}
h4 {
  margin: 5px;
  color: #045f21;
  font-family: 'Lato', sans-serif;
}
/*Estilo del modal para las cartas*/
.modalCards {
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  display: none;
  z-index: 1;
  position: fixed; 
  padding: 1.5%;
  padding-bottom: 50px;
  margin-left: 35%;
  width: 30%;
  height: 40%;
  border-radius: 20%;
  background: #FEFFDF, #00C2FA; opacity: 0.9;  
    
}
.modalCards.close {
  float: right;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  }
  
.modalCards.close:hover,
.modalCards.close:focus {
text-decoration: none;
cursor: pointer;
}


