*{
    margin:0;
    padding: 0;
}


/*Primera página PORTADA */
#portada {
    background-image: url(imagenes/Portada_iMac.jpg);
    height: 720px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#botonInicio {
    margin-bottom: 60px;
    display: flex;
    align-self: flex-end;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

#botonComenzar  {
    height: 100px;
    width: 100px;
    display: flex;
    align-self: flex-end;
    background-color: transparent;
}

#botonComenzar:hover{
  /*  xxxxxxxxxxxx: url(imagenes/PokeBola_hover.png); */
    height: 100px;
    width: 100px;
    display: flex;
    align-self: flex-end;
    background-color: transparent;
}


/*ELEMENTOS QUE APARECEN EN TODAS LAS PAGINAS*/

/* Header */
.Rectangulosuperior {
    width: 1280px;
    height: 96px;
    background: linear-gradient(to right, #72C6D1 0%, #C0F8E4 100%);
    /*text-align-last: justify;*/
    /* vertical-align: text-top; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  /* NO RESULTA :c*/
}

.logospequeños {
    margin-left: 40px;
    margin-right: 40px;
}

/* barra Nav */
.barradetitulo {
    width: 1280px;
    height: 52px;
    background-color: #03A3C6;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}

.tituloSuperior {
    margin-right: 50px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:  white;
    font-style: normal;
    font-size: 33px;
    text-align: right;
    align-content: center;
}

.manito {
    display: flex;
    align-self: flex-end;
    margin-right: 40px;
}

/*FOOTER*/
.footer {
    height: 92px;
    width: 1280px;
    background-image: url("imagenes/Curva-footer.png") ;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.botonesDelFooter {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #ffffff;
    font-size: 18px;
    margin: 60px;
    margin-bottom: 20px;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}


/*Segunda página CONCEPTOS */
#paginaConceptos {
    height: 720px;
    width: 1280px;
}

#cuadroBotonesMasTexto {
    width: 1280px;
    height: 480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#cajaBotonesCostado {
    width: 450px;
    height: 370px;
    margin-left: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.botonesCostado {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #03A3C6;
    font-size: 18px;
    text-align: left;
    background-color: #D5F0F0;
    margin: 8px;
    padding: 10px;
    height: 50px;
    width: 430px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0s;
}

.botonesCostado:hover{
    color: #FFFFFF;
    background-color: #03A3C6;
}

.cajaTexto {
    width : 600px;
    height :370px;
    padding: 20px;
    margin-right: 60px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color :#03A3C6;
    border-radius: 10px;
    /*border : solid 1px #A3A3A3; */

    /*sombra*/
    -webkit-box-shadow: 10px 10px 7px -5px rgba(196,196,196,1);
    -moz-box-shadow: 10px 10px 7px -5px rgba(196,196,196,1);
    box-shadow: 10px 10px 7px -5px rgba(196,196,196,1);

    /*FlexBox*/
    overflow : auto; /*el scroll aparece solo si el contenido exede el tamaño de la caja*/
    align-items: flex-end;
}

/*Cajas que contien información de Conceptos Básicos*/
#cajaTexto1 {
    display: none;
}

#cajaTexto2 {
    display: none;
}

#cajaTexto3 {
    display: none;
}

#cajaTexto4 {
    display: none;
}

/*Texto que muestra la información de conceptos básicos*/
p {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #03A3C6;
    font-size: 18px;
    text-align: justify;
    background-color: #D5F0F0;
    margin: 8px;
    padding: 10px;
}


/*Tercera página POKEDEX*/
#paginaPokedex {
   /* display:none;  */
    height: 720px;
    width: 1280px;
}

/*Barra de select desplegables*/
#desplegables {
    width : 1280px;
    height :57px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    justify-content: flex-start;

}

.selectDesplegables {
    height: 30px;
    width: 160px;
    margin: 20px;
    padding-left: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #03A3C6;
    font-size: 16px;
    text-align: center;
    background-color: #D5F0F0;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    transition-duration: 0s;
    display: flex;
    }

.selectDesplegables:hover{
    color: #FFFFFF;
    background-color: #03A3C6;
    }

/* Estilo de cajas contenedoras */
#cuadroMiniaturasMasCard {
    width: 1280px;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#despliegueMiniaturas {
    width : 1200px;
    height :370px;
    margin: 40px;
    background : white;
    color :#03A3C6;
    overflow-y : scroll;
    display: flex;
}

#card {
    width : 450px;
    height :370px;
    margin-right: 40px ;
    color :#03A3C6;
    border : solid 1px #A3A3A3;
    border-radius: 10px;
    display: flex;
}



